<div>
	<button type="submit" onclick="window.history.back()"
		class="btn btn-info">
		<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span
			translate="entity.action.back"> Back</span>
	</button>
</div>
<br>
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

	<!-- <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myDepartmentLabel" translate="edgApp.department.home.createOrEditLabel">Create or edit a Department</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.department.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.department.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="edgApp.department.deptId" for="field_deptId">Dept Id</label>
            <input type="text" class="form-control" name="deptId" id="field_deptId"
                    ng-model="vm.department.deptId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="edgApp.department.deptName" for="field_deptName">Dept Name</label>
            <input type="text" class="form-control" name="deptName" id="field_deptName"
                    ng-model="vm.department.deptName"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div> -->
	<div>
		<jhi-alert></jhi-alert>

		<h4 id="myDepartmentLabel"
			translate="edgApp.department.home.createOrEditLabel">Create or
			edit a Department</h4>
	</div>
	<div>
		<jhi-alert-error></jhi-alert-error>
		<div class="form-group" ng-show="vm.department.id">
			<label for="id" translate="global.field.id">ID</label> <input
				type="text" class="form-control" id="id" name="id"
				ng-model="vm.department.id" readonly />
		</div>
		<div class="form-group">
			<label class="control-label" translate="edgApp.department.deptId"
				for="field_deptId">Dept Id</label> <input type="text"
				class="form-control" name="deptId" id="field_deptId"
				ng-model="vm.department.deptId" />
		</div>
		<div class="form-group">
			<label class="control-label" translate="edgApp.department.deptName"
				for="field_deptName">Dept Name</label> <input type="text"
				class="form-control" name="deptName" id="field_deptName"
				ng-model="vm.department.deptName" />
		</div>
	</div>

	<button type="submit" ng-disabled="editForm.$invalid || vm.isSaving"
		class="btn btn-primary">
		<span class="glyphicon glyphicon-save"></span>&nbsp;<span
			translate="entity.action.save">Save</span>
	</button>
</form>
