
<div>
   <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
    <br>
    <h2><span translate="edgApp.department.detail.title">Department</span> {{vm.department.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="edgApp.department.deptId">Dept Id</span></dt>
        <dd>
            <span>{{vm.department.deptId}}</span>
        </dd>
        <dt><span translate="edgApp.department.deptName">Dept Name</span></dt>
        <dd>
            <span>{{vm.department.deptName}}</span>
        </dd>
    </dl>

</div>
