/* Giving the page a width */

.page-layout {
	/* max-width: 100%;
	padding: 0 20px;
	margin: 0 auto;
	overflow: hidden;
	box-sizing: border-box;

	display: -webkit-flex;
	display: flex;

	justify-content: space-between; */
}

/* The main content */

.main-content {
	font-family: Arial, Helvetica, sans-serif;
	max-width: 75%;
	padding-top: 40px;
	margin-left: 20px;
	margin-bottom: 40px;
}

/* The advanced sidebar */

.sidebar-advanced {
	font-family: Arial, Helvetica, sans-serif;
	width: 280px;
}

.sidebar-advanced .company-info {
	
	
}

.sidebar-advanced .company-info h2 {
	font-size: 18px;
	margin: 0 0 25px;
	padding: 0 40px;
}


.sidebar-advanced .social-buttons .fa {
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 1.7;
	background-color: #33383b;
	width: 34px;
	height: 34px;
}



.sidebar-advanced h3 {
	background-color:  #23a3d4;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
	padding: 20px 30px;
	text-align: left;
	color:  #ffffff;
	font-size: 16px;
	font-weight: bold;
	margin: 0;
}

.sidebar-advanced h3 .fa {
	margin-right: 15px;
}



/* Photo Stream */

.sidebar-advanced .photo-stream .gallery {
	padding: 35px 40px;
	text-align: center;
}

.sidebar-advanced .photo-stream .gallery img {
	width: 200px;
	margin-bottom: 20px;
}

.sidebar-advanced .pagination {
	text-align: right;
	width: 200px;
	margin: 0 auto;
	white-space: nowrap;
}

.sidebar-advanced .pagination span {
	float: left;
	color: #FFE;
	font-size: 13px;
	font-weight: bold;
	line-height: 36px;
}

.sidebar-advanced .pagination .previous,
.sidebar-advanced .pagination .next {
	display: inline-block;
	position: relative;
	border-radius: 2px;
	background-color:  #33383b;
	width: 34px;
	height: 34px;
}

.sidebar-advanced .pagination .previous:after,
.sidebar-advanced .pagination .next:after {
	content: '';
	position: absolute;
	top: 12px;
	left: 14px;
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
}

.sidebar-advanced .pagination .previous:after {
	border-right: 7px solid #ffffff;
}

.sidebar-advanced .pagination .next:after {
	border-left: 7px solid #ffffff;
}

/* Making the sidebar responsive */

@media (max-width: 900px) {

	.page-layout{
		flex-flow:column;
	}

	.main-content{
		max-width:none;
	}

	.sidebar-advanced {
		width: auto;
	}

	.sidebar-advanced .photo-stream {
		display: none;
	}
}

/*	Removing margins and paddings from the body, so that
    the sidebar takes the full height of the page */

body{
	margin: 0;
	padding: 0;
}





.ad_headline{
	
font-weight:bolder;
font-family: 'Carme',sans-serif; 
font-size: 12px; 
text-align: center;
color:#23a3d4;
}

.names{
text-decoration:none;
color:#23a3d4;

}
.marquee_hof img{
width:50px;
height:45px;

}